## 12 MHz clock
set_io  clk         35

# FTDI UART
set_io  uart_rx     6
set_io  uart_tx     9

# LEDs and button
# set_io  btn         10
# set_io  rled1       11
set_io  gled1       37

# RGB LED driver
# set_io  led_red_n   39
# set_io  led_grn_n   40
# set_io  led_blu_n   41

# SPI flash
# set_io  flash_sck   15
# set_io  flash_ssb   16
# set_io  flash_io0   14
# set_io  flash_io1   17
# set_io  flash_io2   12
# set_io  flash_io3   13

# PMOD 1A
set_io  target_rx   4
set_io  target_tx   3
set_io  target_rst  2 
set_io  power_ctrl  48
# set_io  p1a1        4
# set_io  p1a2        2
# set_io  p1a3        47
# set_io  p1a4        45
# set_io  p1a7        3
# set_io  p1a8        48
# set_io  p1a9        46
# set_io  p1a10       44

# PMOD 1B
# set_io  p1b1        43
# set_io  p1b2        38
# set_io  p1b3        34
# set_io  p1b4        31
# set_io  p1b7        42
# set_io  p1b8        36
# set_io  p1b9        32
# set_io  p1b10       28

# PMOD 2
# set_io  p2_1        27
# set_io  p2_2        25
# set_io  p2_3        21
# set_io  p2_4        19
# set_io  p2_7        26
# set_io  p2_8        23
# set_io  p2_9        20
# set_io  p2_10       18

# LEDs and buttons (PMOD 2)
# set_io  led1        26
# set_io  led2        27
# set_io  led3        25
# set_io  led4        23
# set_io  led5        21
# set_io  btn1        20
# set_io  btn2        19
# set_io  btn3        18
